.container.container--responsive.container--centered
  .row.row--comfy
    .col--xs12

  .row.row--comfy
    .col--lg8.col--xs12
      unifi-configure-form

    .col--lg3.col--xs12
      unifi-summary-form
